<ul>
  {{#each model as |bill|}}
    <a href=  {{bill.url}}>{{bill.question}}</a>
    <li>ID: {{bill.bill_id}}</li>
    <li>Majority required: {{bill.required}}</li>
    <li>Outcome: {{bill.result}}</li>
    <br>
  {{/each}}
</ul>
