<ul>
  {{#each model as |bill|}}
    <li>ID: {{bill.bill_id}}</li>
    <li>{{bill.question}}</li>
    <li>Majority required: {{bill.required}}</li>
    <li>Outcome: {{bill.result}}</li>
      <br>See bill: <a href=  {{bill.url}}>{{bill.question}}</a>
  {{/each}}
</ul>
